@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,500&display=swap');

:root
{
    --green: #007800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);


    --border: .2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);


}

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* for remove home.. lunderline */
    text-decoration: none;
    /* for remove home.. lunderline */
    text-transform: capitalize;
    transition: all .2s linear;

}

html{
     font-size: 62.5%;
     overflow: hidden;
     scroll-behavior: smooth;
     scroll-padding-top: 7rem;
}

body{
    background-color: #eee;
}
/* ___________________________________ */
.heading{
    padding: 2rem 0;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
background: var(--green);
color: #fff;
display: inline-block;
padding: .5rem 3rem;


/* ----------------------for Feature shape----------------------- */

clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);

/* ----------------------for Feature shape----------------------- */
}


.btn
{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;

}

.btn:hover
{
    background : var(--green);
    color: #fff;
}

.header
{
  border: 0px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;                   /*uper in jayega navbar ke upar phto */
  display: flex;
  align-items: center;
  /* for distance betwen agricultte and home */
  justify-content: space-between;

  /* for padding from top and bottom ,from left and right 9% */
  padding: 2rem 9%;
  background-color: white;

  /* black lining bottom of agriculuture */
  box-shadow: var(--box-shadow);
   
}

.header .logo
{
    font-size: 2.5rem;
    font-weight: bold; 
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
    font: 8rem;
    margin: 0 1rem;
    color: var(--black) ;

}

/* for changeing color if mouse reach to the nov bar */
.header .navbar a:hover
{
    color: var(--green);
}

.header .icons div{
    border: 1px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5; 
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 1rem;
    margin-right: .3rem; 
    text-align: center;
    cursor: pointer; 
  
}

.header .trans .div {
    position: relative;
  }
  
  #google_translate_element_hidden {
    position: absolute;
    top: -10000px;
    left: -10000px;
  }
  

  

.header .icons div:hover
{
  background: var(--green); 
  columns: white; 
}





html {
    font-size: 62.5%;
    overflow: auto; /* or overflow: scroll; */
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}










#menu-btn
{
display: none;
}

.header .navbar.active
{
    right: 2rem;
    transition: .4s linear;
}


.header .search-form
{
    position: absolute;
    top: 110%;
    right: -110%;             /*  hide search bar show after click  with help of script.js  */
    width: 50rem;
    height: 4.5rem;
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    

}
/* after click on search bar come again show on screen */
.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;

}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem ;
    color: var(--black);
    padding: 0 1.5rem;

}

.header .search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover
{
    columns: var(--green);
}

.header .shopping-cart
{
    border: 1px solid;
    position: absolute;
    top: 100%; 
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;

}

.header .shopping-cart.active
{
right: 2rem;
transition: .4s linear;
}


.header .shopping-cart .box
{
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}


.header .shopping-cart .box img
{
    height: 10rem;

}


.header .shopping-cart .box .fa-trash
{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50);
}

.header .shopping-cart .box .fa-trash:haver
{
    color: var(--green);
}

.header .shopping-cart .box .content h3{
 color: var(--black);
 font-size: 1.7rem;
 padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
    
}

.header .shopping-cart .box .content .quantity
{
 padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
   
   }


.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}   


.header .login-form
{
    border: 1px solid;
    position: absolute;
    width: 30rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    background: #fff;
    text-align: center;
    border-radius: .5rem;


}


.header .login-form.active
{
 right: 2rem;
 transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}


    
    
.header .login-form .box
{
    border: 0px solid;
    margin: .7rem 0;
    background-color: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;

}


.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);

}

.header .login-form p a{
    color: var(--green);
    text-decoration: underline;

}

/* review sction */
.review .review-slider
{
    border: 1px solid;
    padding: 1rem;
}

.review .review-slider .box
{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img{
    
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    z-index: 1;
}

.review .review-slider .box p
{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3
{
    padding: 1rem 0;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i
{
   
    color: orange;
    font-size: 1.7rem;
}
/* review sction */



/* blog Section */
.blogs .box-container
{
    border: 0x solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;

}

.blogs .box-container .box
{
 overflow: hidden;
 border-radius: 1.5rem;
 border-radius: var(--box-shadow);
 background-color: #fff;

}

.blogs .box-container .box img
{
    height: 25rem;
    width: 100%;
}

.blogs .box-container .box .content
{
   padding: 2rem;
   /* border: 1px solid; */

}

.blogs .box-container .box .content .icons
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 1.5rem;
   margin-bottom: 1rem;
   border-bottom: var(--border);

}


.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
    
}


.blogs .box-container .box .content .icons a i{
    color: green;
    padding-right: .5rem;
}

.blogs .box-container .box .content .icons a:hover
{
    color: var(--black);
}

.blogs .box-container .box .content .icons h3
{
    line-height: 1.8rem;
    color: var(--black);
    font-size: 2.5rem;
    padding: .5rem;
}

.blogs .box-container .box .content .icons p
{
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem;
}
/* blog Section */


/* Footer section */



/* Footer section */
.footer
{
    background: #fff;
}

.footer .box-container
{
    border: 0x solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;

}

.footer .box-container .box h2
{
   font-size: 2rem;
   color: var(--black);
}

.footer .box-container .box h2 i
{
    color: var(--green)

}

.footer .box-container .box .links
{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box .links{
    color: var(--green);
    padding: .5rem;
}
s
.footer .box-container .box .links:hover i
{
padding-right: 2rem;
}

.footer .box-container .box p
{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;

}

.footer .box-container .box .share a:hover
{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email
{
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
}

.footer .box-container .box .payment-amg
{
    margin-top: 2rem;
    height: 3rem;
}
/* Media Queries */

@media (max-width: 991px)
{
    html{
        font-size: 55%;
   }

.header
{
    padding: 2rem;

}
section
{
  padding: 2rem;  
}
}



/* -------------------feature-------------------- */
.features .box-container
{
    border: 2x solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.features .box-container .box
{
  border: 0rem solid red;
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box image
{
 margin: 1rem 0;
 height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);
}

.features .box-container .box p{
    margin-top: 2%;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--light-color);
    padding-bottom: 1rem 0;
}



@media (max-width: 768px)
{
    #menu-btn
{
display: inline-block ;
}

.header .search-form{
    width: 90%;
}

   .header .navbar{
      position: absolute;
      top: 110%;
      right: -110%;  
      width: 30rem;
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      background: #fff;
      
    }
    .header .navbar a
    {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;                /*  with the help all setup block */
        
    }

}


@media (max-width: 450px)
{
    html{
        font-size: 50%;
   }  
   .heading
   {
    font-size: 2.5rem;
   }
}

/* _________________________________________________________ */

section
{
    padding: 2rem 9%;

}

.Home
{
display: flex;
justify-content: center;
background: url(../image/banner-img.jpg) no-repeat;
background-position: center;
background-size: cover;padding-top: 17rem;
padding-bottom: 10rem;
padding-top: 19Srem;
}

.Home .content
{

    text-align: center;
    width: 60rem;

}

.Home .content h3
{
  color: var(--black);
  font-size: 3rem;
}

.Home .content h3 span
{
  color: #007800;
}

.Home .content p
{
  color: var(--light-color);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 1.8;

}

/* ------------------------------------------------------------------- */

/* CSS to style the Google Translate widget */


/* produc section */

.products .product-slider
{
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider :first-child
{
    margin-bottom: 2rem;
}

.products .product-slider .box
{
    /* border: 1px solid red;; */
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
}


.products .product-slider .box img
{
    height: 15rem;
}

.products .product-slider .box h1
{
    font-size: 1.7rem;
    color: var(--black);

}


.products .product-slider .box .price
{
 font-size: 2rem;
 color: var(--light-color)
 padding: .5rem 0;
}

.products .product-slider .box .stars i
{
 font-size: 1.7rem;
 color: orange;
 padding: .5rem, 0;
}


 /* website swiper.com then scroll get started scroll
  used swiper from CDNfrom */


/* cotegories section */
.categories .box-container
{
    border: 2x solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;

}

.categories .box-container .box
{
    padding: 3rem 0;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img
{
    margin: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 15rem;
}

.categories .box-container .box h3
{
   font-size: 2rem;
   color: var(--black);
   line-height: 3;
}

.categories .box-container .box p
{
    font-size: 1.8rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}
/* cotegories section */



/* body {
    /* Set a fixed height for the scrollbar to appear */
    max-height: 400px;
    overflow-y: scroll; /* This will display the scrollbar only when content overflows */
  }
  
  /* Customize the scrollbar's appearance */
  body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb (the draggable part) */
    border-radius: 10px; /* Rounded corners of the thumb */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track (the non-draggable part) */
    border-radius: 10px; /* Rounded corners of the track */
  }
  
  .content {
    /* Add some padding to the content so it doesn't stick to the edges */
    padding: 20px;
  }
   */